{% extends "layout.html" %}

{% block body %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Käyttäjän {{ user.name }} oma sivu</h1>
      {% if current_user.role == "ADMIN" %}
        <div class="lead text-muted">
          <p>Admin-toiminnot: </p>
          <a class="btn btn-primary" href="{{ url_for('species_form') }} " role="button">Lisää laji</a>
          <a class="btn btn-primary" href="{{ url_for('region_form') }}" role="button">Lisää uusi merialue</a>
        </div>
        {% endif %}
    </div>
  </section>

  {% if obs_user is defined %}
  <p class = "lead">
    Havaintosi:
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lajinimi</th>
        <th scope="col">Havainnon kuvaus</th>
        <th scope="col">Havainnon päivämäärä</th>
        <th scope="col">Pohjoiskoordinaatti</th>
        <th scope="col">Itäkoordinaatti</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for obs in obs_user %}
      <tr>
        <td>{{ obs.name }}</td>
        <td>{{ obs.description }}</td>
        <td>{{ obs.date }}</td>
        <td>{{ obs.ncoordinates }}</td>
        <td>{{ obs.ecoordinates }}</td>
        <td><a class="btn btn-primary" href="{{ url_for('obs_form', obs_id=obs.id ) }}" role="button">Muokkaa</a></td>
        <td>
          <form method="POST" action="{{ url_for('obs_delete', obs_id=obs.id) }}">
            <button type="submit" class="btn btn-primary">Poista havainto</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
  {% endblock %}