{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('obs_edit', obs_id=obs.id) }}">
    <table>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td> 
                {{ form.description }}
            </td>
            <td>
                <ul>
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.date.label }}
            </td>
            <td>
                {{ form.date }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.ncoordinates.label }}
            </td>
            <td>
                {{ form.ncoordinates }}
            </td>
            <td>
                <ul>
                    {% for error in form.ncoordinates.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.ecoordinates.label }}
            </td>
            <td>
                {{ form.ecoordinates }}
            </td>
            <td>
                <ul>
                    {% for error in form.ecoordinates.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää tiedot"/>
            </td>
        </tr>
    </table>

</form>
{% endblock %}
