{% extends "layout.html" %}

{% block body %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Lajilista</h1>
      <p class="lead text-muted">Tietokannassa olevat merilajit. Lajin profiilisivulla voit lisätä lajihavainnon.</p>
    </div>
  </section>
  <form method="POST" action="{{ url_for('species_select') }}">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="exampleFormControlSelect1">Valitse merialue</label>
    </div>
    <div class="col-auto">
      <select class="form-control" id="region" name="region">
        <option>Kaikki</option>
        {% for region in regions %}
        <option>{{ region.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Hae</button>
    </div>
  </div>
   </form>
   <p>
     
   </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lajinimi</th>
        <th scope="col">Lajiryhmä</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for species in species %}
      <tr>
        <td>{{ species.name }}</td>
        <td>{{ species.category }}</td>
        <td><a class="btn btn-primary" href="{{ url_for('species_profile', species_id=species.id ) }}" role="button">Lajisivulle</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}