{% extends "layout.html" %}

{% block body %}

<section class="jumbotron">
  <div class="container">
    <h3 class="jumbotron-heading">{{ species.category }}</h3>
    <h1>{{ species.name }}</h1>
    <p class="lead text-muted">Lajin kuvaus: {{ species.description }}</p>
    <h3>Lajia tavataan seuraavilla alueilla: </h3>
    {% for region in regions %}
    <p>{{ region.name }}</p>
    {% endfor %}
    <form method="POST" action="{{ url_for('obs_create', species_id=species.id) }}">
      <button type="submit" class="btn btn-primary">Nähty!</button>
    </form>
    <p>

    </p>
    <form method="POST" action="{{ url_for('species_delete', species_id=species.id) }}">
      <button type="submit" class="btn btn-primary">Poista laji</button>
  </form>
  </div>
</section>

  {% endblock %}